body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  margin-bottom:50px;
  font-size: 70px;
}

ol, ul {
  padding-left: 30px;
}

li button {
  font-size: 15px;
  width:175px;
  margin-bottom:5px;
  background-color: #1E90FF;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 150px;
  font-weight: bold;
  line-height: 34px;
  height: 160px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 160px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}
